<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
  </head>

  <body>

    <header class="page-header" role="banner">
      <div class="container">
        <h1>Alterlife Creations</h1>
        <h2>Always 🚧 work-in-progress 🚧 !</h2>

      </div>
      <div class="menu">
        <a class="btn" href="/">Home</a> <a class="btn" href="/contact.html">Contact</a>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      <section id="main_content">
        {{ content }}
      </section>
    </main>

    <footer style="background-color: gray; color: white; text-align: right; margin-top: 20px; padding-right: 20px">
    &copy; 2020 Jeevan John
    </footer>
  </body>
</html>