<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
  </head>

  <body>

    <header class="page-header" role="banner">
      <div class="container">
        <h1>Alterlife Creations</h1>
        {% if page.subtitle %}
        <div class="subtitle">{{ page.subtitle }}</div>
        {% endif %}
      </div>
      <nav class="menu">
        <a class="btn {% if page.url == '/' %}active{% endif %}" href="/">Projects</a>
        <a class="btn {% if page.url contains 'thoughts' %}active{% endif %}" href="/thoughts.html">Blog</a>
        <a class="btn {% if page.url contains 'contact' %}active{% endif %}" href="/contact.html">Contact</a>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      <section id="main_content">
        {{ content }}
      </section>
    </main>

    <footer style="background-color: var(--color-primary); color: rgba(255,255,255,0.9); text-align: right; margin-top: 20px; padding: 1rem 2rem; font-size: 0.9rem;">
    &copy; 2020 Jeevan John
    </footer>
  </body>
</html>